

#canvas{
    border: black 1px solid;
}

#containButton{
    width: 100vw;
    display: flex;
    flex-direction: line;
    justify-content: space-evenly;
}


.button{
    width: fit-content;
    height: 3vh;
    border-color: #f0f8ff;
    border: black 1px solid;
    text-align: center;
    cursor: pointer;
}

#drawButton:hover{
    background-color:gray;
}

#widthButton:hover{
    
}